header{
    text-align: center;
    border: solid 2px;
    border-radius: 15px;
    background-color: rgba(254, 72, 72, 0.916);
    color: rgb(255, 235, 235);
    padding: auto;
    font-size: 25px;
}

.description{
    font-size: 2em;
    font-weight: 100px;

}
body{
    background-color: rgba(234, 169, 169, 0.895);
}

img{
    border-radius: 15px;
    transition: 0.6s;
}
img:hover{
    transform: scale(1.1);
}



.picture{
    margin:50px;
    padding: 10px;
    display: inline-block;
}
